
.box {
  display: flex;
  height: 100%;
  background-color: #0a3069;

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  .header-line{
    -webkit-mask-image: linear-gradient(60deg, rgba(0,0,0,1), rgba(0,0,0,0) 60%);
  }


  .title {
    img {
        width: 10px;
    }
  }
}