
.box {
  position: relative;
  display: flex;
  height: 100%;
  background-color: var(--color-main-fill);

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;
    background-color: var(--color-main);
    -webkit-mask-image: linear-gradient(60deg, var(--color-main), rgba(0,0,0,0) 60%);
  }

  .header-line{

  }


  .title {
    img {
        width: 10px;
    }
  }
}